.aboutPageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
  .aboutContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 4rem;
    margin-bottom: 4rem;
    .headerContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
    .contentContainer {
      display: flex;
      width: 80%;
      background-color: hsla(0, 0%, 0%, 0.9);
      flex-direction: column;
      color: hsla(0, 0%, 100%, 0.9);
      .aboutHeader {
        display: flex;
        margin: 2rem 0 0 2rem;
        width: fit-content;
      }
      .aboutText {
        display: flex;
        text-align: justify;
        margin: 2rem 2rem 0rem 2rem;
      }
      .aboutText2 {
        display: flex;
        text-align: justify;
        margin: 2rem 2rem 0rem 2rem;
      }
      .aboutGif {
        display: flex;
        align-self: center;
        width: 250px;
        height: 250px;
        margin-top: 1rem;
      }
    }
  }
}
