.HomePageContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("highQualityHappy.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 70%;
  filter: drop-shadow(16px 16px 10px rgb(129, 129, 129));
  @media only screen and (min-width: 900px) {
    background-size: 500px 500px;
  }
}
