.signUpPageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
  .signUpContent {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .headerContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
    .authCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 0.5rem;
      background-color: hsla(0, 0%, 65%, 0.6);
      width: 80%;
      height: 80%;
      margin-top: 2rem;
      @media only screen and (min-width: 900px) {
        width: 500px;
        height: 700px;
        margin-top: 5rem;
      }
      filter: drop-shadow(10px 10px 5px hsla(181, 91%, 99%, 0.6));
      &:hover {
        background-color: hsla(181, 91%, 99%, 0.3);
      }
      .authCardHeader {
        margin-top: 2rem;
      }
      .authForm {
        margin-top: 2rem;
        gap: 3rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        .emailPassInput {
          display: flex;
          gap: 2rem;
          flex-direction: column;
          .inputField {
            height: 3rem;
            border-radius: 0.5rem;
          }
        }
        .authButton {
          height: 3rem;
          border-radius: 0.5rem;
          font-weight: 700;
        }
      }
      .authRoute {
        margin-top: 3rem;
        gap: 1rem;
        .linkUnderline {
          text-decoration: underline;
        }
      }
    }
  }
}
