.allFolders {
  position: absolute;
  z-index: 2;
  display: flex;
  .productContainer {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 130px;
    height: 130px;
    .folderIcon {
      display: flex;
      width: 110px;
      height: 110px;
    }
    .folderText {
    }
  }
}
