.allFolders {
  z-index: 1;
  position: absolute;
  .productContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    text-align: center;
    cursor: pointer;
    .folderIcon {
      display: flex;
      width: 110px;
      height: 110px;
      @media only screen and (min-width: 900px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}
