.websiteCategories {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  @media only screen and (min-width: 600px) {
    gap: 30%;
  }
  @media only screen and (min-width: 900px) {
    gap: 40%;
  }
  margin-top: 1.78rem;
  color: #2f2c2c;
  background-color: hsla(181, 91%, 99%, 0.5);
  width: 100%;
  .rightSideMenuBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    .logoutIcon {
      height: 40px;
      width: 40px;
      @media only screen and (min-width: 900px) {
        height: 40px;
        width: 40px;
      }
    }
    @media only screen and (min-width: 900px) {
      font-size: 2rem;
      gap: 1rem;
    }
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.9);
    }
    .userIcon {
      display: flex;
      height: 40px;
      width: 40px;
      @media only screen and (min-width: 900px) {
        height: 55px;
        width: 55px;
      }
    }
  }
  .leftSideMenuBar {
    display: flex;
    gap: 1.75rem;
    @media only screen and (min-width: 900px) {
      gap: 4rem;
    }
    .menuHeader {
      width: fill;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1.25rem;
      @media only screen and (min-width: 900px) {
        font-size: 3rem;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.9);
      }
    }
  }
}
