.websiteCategories {
  position: sticky;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: #2f2c2c;
  background-color: hsl(0, 0%, 4%);
  width: 100%;
  margin: auto;
  @media only screen and (min-width: 600px) {
    gap: 5%;
  }
  @media only screen and (min-width: 900px) {
    gap: 1%;
  }
  .rightSideMenuBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
    color: #e0e0e0;
    font-size: 1.1rem;
    width: 33%;
    .authStatusSection {
      display: flex;
      @media only screen and (min-width: 900px) {
        font-size: 2rem;
        gap: 1rem;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
      .userStatusHeader {
        display: flex;
        align-self: center;
        width: fill;
      }
      .logoutIcon {
        color: #e0e0e0;
        height: 2.5rem;
        width: 2.5rem;
      }
      .userIcon {
        display: flex;
        height: 2.5rem;
        width: 2.5rem;
        color: #e0e0e0;
      }
    }
    .cartSection {
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (min-width: 900px) {
        font-size: 2rem;
        gap: 1rem;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
      .cartHeader {
        display: flex;
        width: fill;
      }
      .cartIcon {
        display: flex;
        height: 2.5rem;
        width: 2.5rem;
        color: #e0e0e0;
      }
    }
  }
  .homePageButton {
    display: flex;
    width: 50px;
    height: 50px;
    @media only screen and (min-width: 900px) {
      height: 80px;
      width: 80px;
    }
  }
  .leftSideMenuBar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #e0e0e0;
    width: 33%;
    @media only screen and (min-width: 900px) {
      gap: 4rem;
    }
    .menuHeader {
      width: fill;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1.1rem;
      @media only screen and (min-width: 900px) {
        font-size: 2rem;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
    }
  }
}
