.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem 0rem;
  .productFileIcon {
    width: 75px;
    height: 75px;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    gap: 1rem 0rem;
    .productName {
      font-size: 0.5rem;
      @media only screen and (min-width: 900px) {
        font-size: 1rem;
      }
    }
  }
}
